@model IEnumerable<ParkingSystem.Models.LocationModel>
@{
    ViewBag.Title = "View District";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["UserName"] != null || Session["UserID"] != null || Session["Designation"] != null || Session["SiteID"] != null || Session["SiteName"] != null)
{
    <div class="content-wrapper">
        <div id="div1" style="margin-left: 10px; margin-right: 10px;">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a href="#"><i class="active"></i>Setting</a></li>
                    <li><a href="@Url.Action("ViewDistrict", "Location")"><i class="active"></i>View District</a></li>
                </ol>
            </section>
            <br />
            @if (Session["Designation"].ToString() == "Admin" || Session["Designation"].ToString() == "Manager")
            {
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Add District Details</strong></div>
                                <div class="panel-body">
                                    <button type="button" id="btnShowpop" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-mrole" style="margin-right:20px;" onclick="clearTextBox();">
                                        Add New District
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>View District Details</strong>
                                </div>
                                <div class="panel-body">
                                    <table id="tblDistrict" class="table table-bordered table-striped font-12" style="width:100%">
                                        <thead></thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.District_ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.District_Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.State_Name)
                                            </th>
                                            <th>Edit</th>
                                            <th style="color:red;">Delete</th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            if (item.District_Status1 == true)
                                            {
                                                <tr style="color:blue;">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.District_ID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.District_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.State_Name)
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-success btn-flat" id="btnGetByID" onclick="GetDistrictDetails(@item.District_ID)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                                    </td>
                                                    <td style="color:red">
                                                        <button type="button" class="btn btn-danger btn-flat" id="btnDelete" onclick="DeleteDistrict(@item.District_ID)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="color:red;">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.District_ID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.District_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.State_Name)
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-success btn-flat" style="font-weight:bold" id="btnGetByID1" onclick="GetDistrictDetails(@item.District_ID)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                                    </td>
                                                    <td style="color:red">
                                                        <button type="button" class="btn btn-danger btn-flat" id="btnDelete1" onclick="DeleteDistrict(@item.District_ID)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            }
                @* Insertion Modelpopup *@
                <div class="modal fade" id="modal-mrole">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header with-border">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="box-title font-16">Add New District</h3>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body" style="height:200px">
                                    <div class="row">
                                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                                            <div class="form-group">
                                                <label for="State" class="font-13">State</label><span style="color: #FF0000">*</span>
                                                <select class="form-control" id="State" placeholder="Please Select State">
                                                    <option>---Select State---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                                            <div class="form-group">
                                                <label for="District" class="font-13">District</label><span style="color: #FF0000">*</span>
                                                <input type="text" class="form-control" id="District" placeholder="Enter New District" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8" style="font-size: 12px;">
                                            Note: <span style='color:#FF0000;font-size:12px'>*</span> indicate required field.
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="btnAdd" onclick="return Add();">Save</button>
                                    <button type="button" class="btn btn-default pull-right" id="insertclose" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* Updation Modelpopup *@
                <div class="modal fade" id="modal-Update">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header with-border">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="box-title font-16"> Update District Details</h3>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body" style="height:200px">
                                    <div class="row">
                                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                                            <div class="form-group">
                                                <input type="hidden" id="hfId" name="DistrictId">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                                            <div class="form-group">
                                                <label for="StateUpdate" class="font-13">State</label><span style="color: #FF0000">*</span>
                                                <select class="form-control" id="StateUpdate" placeholder="Please Select State">
                                                    <option>---Select State---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                                            <div class="form-group">
                                                <label for="District_Name" class="font-13">District</label><span style="color: #FF0000">*</span>
                                                <input type="text" class="form-control" id="txtUpdateName" name="Name" placeholder="Enter New District" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8" style="font-size: 12px;">
                                            Note: <span style='color:#FF0000;font-size:12px'>*</span> indicate required field.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="Meassage">@ViewBag.Meassage</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="btnUpdate" onclick="return UpdateDistrict();">Update</button>
                                    <button type="button" class="btn btn-default pull-right" id="updateclose" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
}

    @* table script *@
    <script>
        $(function () {
            $("#tblDistrict").prepend($("<thead></thead>").append($(this).find("tr:first"))).dataTable({
                "sScrollY": "250",
                "sScrollX": "10%",
                "sScrollXInner": "100%",
                "scrollCollapse": true,
                "paging": true,
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": true,
                "scrollX": true,
                "font-size": "12px",
            });
        });
    </script>
    <!-- /.row -->
    <script>
        //Page Load
        $(document).ready(function () {
            GetState();
            GetUpdateState();
        });


        //Function for getting the Bind State.........data.State_Name
        function GetState() {
            var State = jQuery("#State").val();
            jQuery('#State').empty();
            jQuery('#State').html('<option Value="">Please Select State</option>');

            $.ajax({
                url: "/Location/BindState/",
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, data) {
                        $('#State').append("<option value='" + data.State_Name + "'>" + data.State_Name + "</option>");
                    })
                },
                error: function (result) {
                    alert(result.responseText);
                }
            });
            return false;
        }

        //Function for getting the Bind State For Update
        function GetUpdateState() {
            var State = jQuery("#StateUpdate").val();
            jQuery('#StateUpdate').empty();
            jQuery('#StateUpdate').html('<option Value="">Please Select State</option>');

            $.ajax({
                url: "/Location/BindState/",
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, data) {
                        $('#StateUpdate').append("<option value='" + data.State_Name + "'>" + data.State_Name + "</option>");
                    })
                },
                error: function (result) {
                    alert(result.responseText);
                }
            });
            return false;
        }
       
        //Add Data Function
        function Add() {
            var res = validate();
            if (res == false) {
                return false;
            }
            var empObj = {
                District_Name: $('#District').val(),
                State_Name: $('#State').val()
            };
            $.ajax({
                url: "/Location/AddDistrict",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#modal-mrole').modal('hide');
                    alert(result);
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


        //Function for getting the Data Based upon District ID
        function GetDistrictDetails(id) {
            $.ajax({
                url: "/Location/GetDistrictDetails/" + id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response,data) {
                    $('#hfId').val(response.District_ID);  //#html_id .val(respon.bindingid)
                    $('#txtUpdateName').val(response.District_Name);
                    $("#StateUpdate").val(response.State_Name);

                    $('#modal-Update').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return false;
        }

        //function for updating State's record
        function UpdateDistrict() {
            var res = validate1();
            if (res == false) {
                return false;
            }
            var empObj = {
                District_ID: $('#hfId').val(),
                District_Name: $('#txtUpdateName').val(),
                State_Name: $('#StateUpdate').val(),
            };
            $.ajax({
                url: "/Location/UpdateDistrict",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#modal-Update').modal('hide');
                    $('#hfId').val("");
                    $('#txtUpdateName').val("");
                    $('#StateUpdate').val("");


                    alert(result);
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        //function for deleting State's record
        function DeleteDistrict(ID) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    url: "/Location/DeleteDistrict/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        alert(result);
                        location.reload();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        //Valdidation using jquery
        function validate() {
            var isValid = true;

            if ($('#State').val().trim() == "") {
                $('#State').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#State').css('border-color', 'lightgrey');
            }
            if ($('#District').val().trim() == "") {
                $('#District').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#District').css('border-color', 'lightgrey');
            }
           

            return isValid;
        }

        function validate1() {
            var isValid = true;
            if ($('#txtUpdateName').val().trim() == "") {
                $('#txtUpdateName').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#txtUpdateName').css('border-color', 'lightgrey');
            }
            if ($('#StateUpdate').val().trim() == "") {
                $('#StateUpdate').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#StateUpdate').css('border-color', 'lightgrey');
            }
            return isValid;
        }

        //Function for clearing the textboxes
        function clearTextBox() {
            $('#District').val("");
            $('#State').val("");
            $('#District').css('border-color', 'lightgrey');
            $('#State').css('border-color', 'lightgrey');
        }
    </script>
