@model IEnumerable<ParkingSystem.Models.LocationModel>
@{
    ViewBag.Title = "View Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["UserName"] != null || Session["UserID"] != null || Session["Designation"] != null || Session["SiteID"] != null || Session["SiteName"] != null)
{
    <div class="content-wrapper">
        <div id="div1" style="margin-left: 10px; margin-right: 10px;">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a href="#"><i class="active"></i>Setting</a></li>
                    <li><a href="@Url.Action("ViewArea", "Location")"><i class="active"></i>View Area</a></li>
                </ol>
            </section>
            <br />
            @if (Session["Designation"].ToString() == "Admin" || Session["Designation"].ToString() == "Manager")
            {
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Add Area Details</strong></div>
                                <div class="panel-body">
                                    <button type="button" id="btnShowpop" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-mrole" style="margin-right:20px;" onclick="clearTextBox();">
                                        Add New Area
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>View Area Details</strong>
                                </div>
                                <div class="panel-body">
                                    <table id="tblArea" class="table table-bordered table-striped font-12" style="width:100%">
                                        <thead></thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Area_ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Address)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.City_Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.District_Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.State_Name)
                                            </th>
                                            <th>Edit</th>
                                            <th style="color:red;">Delete</th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            if (item.Status1 == true)
                                            {
                                                <tr style="color:blue;">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Area_ID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Address)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.City_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.District_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.State_Name)
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-success btn-flat" id="btnGetByID" onclick="GetAreaDetails(@item.Area_ID)">	<span class="glyphicon glyphicon-edit"></span> Edit</button>
                                                    </td>
                                                    <td style="color:red">
                                                        <button type="button" class="btn btn-danger btn-flat" id="btnDelete" onclick="DeleteArea(@item.Area_ID)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="color:red;">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Area_ID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Address)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.City_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.District_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.State_Name)
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-success btn-flat" style="font-weight:bold" id="btnGetByID1" onclick="GetAreaDetails(@item.Area_ID)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                                    </td>
                                                    <td style="color:red">
                                                        <button type="button" class="btn btn-danger btn-flat" id="btnDelete1" onclick="DeleteArea(@item.Area_ID)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
                <br />
                @* Insertion Modelpopup *@
                <div class="modal fade" id="modal-mrole">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header with-border">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="box-title font-16">Add New Area</h3>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body" style="height:250px">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="State" class="font-13">State</label><span style="color: #FF0000">*</span>
                                                <select class="form-control" id="State" placeholder="Please Select State">
                                                    <option>---Select State---</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="District" class="font-13">District</label><span style="color: #FF0000">*</span>
                                                <select class="form-control" id="District" placeholder="Please Select District">
                                                    <option>---Select District---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="City" class="font-13">City</label><span style="color: #FF0000">*</span>
                                                <select class="form-control" id="City" placeholder="Please Select City">
                                                    <option>---Select City---</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="Area" class="font-13">Area</label><span style="color: #FF0000">*</span>
                                                <textarea name="txtArea" class="form-control" id="Area" placeholder="Enter Area City"></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="clearfix">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6" style="font-size: 12px;">
                                            Note: <span style='color:#FF0000;font-size:12px'>*</span> indicate required field.
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="btnAdd" onclick="return AddArea();">Save</button>
                                    <button type="button" class="btn btn-default pull-right" id="insertclose" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* Updation Modelpopup *@
                <div class="modal fade" id="modal-Update">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header with-border">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="box-title font-16"> Update Area Details</h3>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body" style="height:200px">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="hidden" id="hfId" name="AreaID">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="StateUpdate" class="font-13">State</label><span style="color: #FF0000">*</span>
                                                <select class="form-control" id="StateUpdate" placeholder="Please Select State">
                                                    <option>---Select State---</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="DistrictUpdate" class="font-13">District</label><span style="color: #FF0000">*</span>
                                                <select class="form-control" id="DistrictUpdate" placeholder="Please Select District">
                                                    <option>---Select District---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="CityUpdate" class="font-13">City</label><span style="color: #FF0000">*</span>
                                                <select class="form-control" id="CityUpdate" placeholder="Please Select City">
                                                    <option>---Select City---</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="Area_Name" class="font-13">Area</label><span style="color: #FF0000">*</span>
                                                <textarea type="text" name="txtAreaUpdatename" class="form-control" id="txtAreaUpdate" placeholder="Enter New Area"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6" style="font-size: 12px;">
                                            Note: <span style='color:#FF0000;font-size:12px'>*</span> indicate required field.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="Meassage">@ViewBag.Meassage</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="btnUpdate" onclick="return UpdateArea();">Update</button>
                                    <button type="button" class="btn btn-default pull-right" id="close" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
}
    @* table script *@
    <script>
        $(function () {
            $("#tblArea").prepend($("<thead></thead>").append($(this).find("tr:first"))).dataTable({
                "sScrollY": "250",
                "sScrollX": "10%",
                "sScrollXInner": "100%",
                "scrollCollapse": true,
                "paging": true,
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": true,
                "scrollX": true,
                "font-size": "12px",
            });
        });
    </script>
    <!-- /.row -->
    <script>
        //Page Load
        $(document).ready(function () {
            var StateName = $('#State');
            StateName.append($("<option></option>").val('').html('Please Select State'));
            $.ajax({
                url: '/Location/BindStateArea/',
                type: 'GET',
                dataType: 'json',
                success: function (d) {
                    $.each(d, function (i, stated) {
                        StateName.append($("<option></option>").val(stated.State_Name).html(stated.State_Name));
                    });
                },
                error: function () {
                    alert('Error!');
                }
            });
            ///////////////////////////////////////////////
            //Distict details by Statename

            $("#State").change(function () {
                var StateName = $(this).val();

                if (StateName != null) {
                    var District1 = $('#District');
                    District1.empty();
                    District1.append($("<option></option>").val('').html('Please wait ...'));
                    debugger;
                    $.ajax({
                        url: '/Location/BindDistrictArea/',
                        type: 'GET',
                        dataType: 'json',
                        data: { Statename: $("#State").val() },  //send name to another method
                        success: function (d) {
                            District1.empty(); // Clear the plese wait
                            District1.append($("<option></option>").val('').html('Select District'));
                            $.each(d, function (i, District1data) {
                                District1.append($("<option></option>").val(District1data.District_Name).html(District1data.District_Name));
                            });
                        },
                        error: function () {
                            alert('Error Select District!');
                        }
                    });
                }
                else {
                    alert('District State Null!');
                }
            });
            /////////////////////////////////////////////////////////////////////////////////
            //Distict details by Statename

            $("#District").change(function () {
                var DistrictName = $(this).val();

                if (DistrictName != null) {
                    var City1 = $('#City');
                    City1.empty();
                    City1.append($("<option></option>").val('').html('Please wait ...'));
                    debugger;
                    $.ajax({
                        url: '/Location/BindCityArea/',
                        type: 'GET',
                        dataType: 'json',
                        data: { DistrictName: $("#District").val() },  //send name to another method
                        success: function (d) {
                            City1.empty(); // Clear the plese wait
                            City1.append($("<option></option>").val('').html('Select City'));
                            $.each(d, function (i, Citydata) {
                                City1.append($("<option></option>").val(Citydata.City_Name).html(Citydata.City_Name));
                            });
                        },
                        error: function () {
                            alert('Error Select City!');
                        }
                    });
                }
                else {
                    alert('City District  Null!');
                }
            });
            ////////////////////////////Update/////////////////////////////////////////////////////
            ///////////////////////////////////////////////////////////////////////////////////////
            GetUpdateState();
            GetUpdateDistrict();
            GetUpdateCity();
            /////////////////////////////////////////////////

            //State Change
            $("#StateUpdate").change(function () {
                var StateNameUp = $(this).val();

                if (StateNameUp != null) {
                    var District1Up = $('#DistrictUpdate');
                    District1Up.empty();
                    District1Up.append($("<option></option>").val('').html('Please wait ...'));
                    debugger;
                    $.ajax({
                        url: '/Location/BindDistrictArea/',
                        type: 'GET',
                        dataType: 'json',
                        data: { Statename: $("#StateUpdate").val() },  //send name to another method
                        success: function (d) {
                            District1Up.empty(); // Clear the plese wait
                            District1Up.append($("<option></option>").val('').html('Select District'));
                            $.each(d, function (i, District1dataUp) {
                                District1Up.append($("<option></option>").val(District1dataUp.District_Name).html(District1dataUp.District_Name));
                            });
                        },
                        error: function () {
                            alert('Error Select District!');
                        }
                    });
                }
                else {
                    alert('District State Null!');
                }
            });
            /////////////////////////////////////////////////////////////////////////////////
            //Distict Change
            $("#DistrictUpdate").change(function () {
                var DistrictNameUp = $(this).val();

                if (DistrictNameUp != null) {
                    var City1Up = $('#CityUpdate');
                    City1Up.empty();
                    City1Up.append($("<option></option>").val('').html('Please wait ...'));
                    debugger;
                    $.ajax({
                        url: '/Location/BindCityArea/',
                        type: 'GET',
                        dataType: 'json',
                        data: { DistrictName: $("#DistrictUpdate").val() },  //send name to another method
                        success: function (d) {
                            City1Up.empty(); // Clear the plese wait
                            City1Up.append($("<option></option>").val('').html('Select City'));
                            $.each(d, function (i, CitydataUp) {
                                City1Up.append($("<option></option>").val(CitydataUp.City_Name).html(CitydataUp.City_Name));
                            });
                        },
                        error: function () {
                            alert('Error Select City!');
                        }
                    });
                }
                else {
                    alert('City District  Null!');
                }
            });

        });

        //Function for getting the Bind State For Update............datas.State_Name
        function GetUpdateState() {
            var State = jQuery("#StateUpdate").val();
            jQuery('#StateUpdate').empty();
            jQuery('#StateUpdate').html('<option Value="">Please Select State</option>');

            $.ajax({
                url: "/Location/BindState/",
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, datas) {
                        $('#StateUpdate').append("<option value='" + datas.State_Name + "'>" + datas.State_Name + "</option>");
                    })                   
                },
                error: function (result) {
                    alert(result.responseText);
                }
            });
            return false;
        }
        //Function for getting the Bind District For Update...............datadistict1.District_Name
        function GetUpdateDistrict() {
            var Updatedistrict = jQuery("#DistrictUpdate").val();
            jQuery('#DistrictUpdate').empty();
            jQuery('#DistrictUpdate').html('<option Value="">Please Select District</option>');

            $.ajax({
                url: "/Location/BindDistrictForArea/",
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, datadistict1) {
                        $('#DistrictUpdate').append("<option value='" + datadistict1.District_Name + "'>" + datadistict1.District_Name + "</option>");
                    })                
                },
                error: function (result) {
                    alert(result.responseText);
                }
            });
            return false;
        }

        //Function Update City............................datacity.City_Name
        function GetUpdateCity() {
            var City = jQuery("#CityUpdate").val();
            jQuery('#CityUpdate').empty();
            jQuery('#CityUpdate').html('<option Value="">Please Select City</option>');

            $.ajax({
                url: "/Location/BindCity/",
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, datacity) {
                        $('#CityUpdate').append("<option value='" + datacity.City_Name + "'>" + datacity.City_Name + "</option>");
                    })
                },
                error: function (result) {
                    alert(result.responseText);
                }
            });
            return false;
        }

        //Add Data Function
        function AddArea() {
            var res = validate();
            if (res == false) {
                return false;
            }
            var empObj = {
                State_Name: $('#State').val(),
                District_Name: $('#District').val(),
                City_Name: $('#City').val(),
                Address: $('#Area').val(),
            };
            $.ajax({
                url: "/Location/AddArea",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#modal-mrole').modal('hide');
                    alert(result);
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        //Function for getting the Data Based upon City ID
        function GetAreaDetails(id) {
            $.ajax({
                url: "/Location/GetAreaDetails/" + id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (response, data) {
                    $('#hfId').val(response.Area_ID);  //#html_id .val(respon.bindingid)
                    $('#txtAreaUpdate').val(response.Address);
                    $("#CityUpdate").val(response.City_Name);
                    $("#DistrictUpdate").val(response.District_Name);
                    $("#StateUpdate").val(response.State_Name);
                    $('#modal-Update').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return false;
        }


        //function for updating Area's record
        function UpdateArea() {
            var res = validate1();
            if (res == false) {
                return false;
            }

            var empObj = {
                Area_ID: $('#hfId').val(),
                Address: $('#txtAreaUpdate').val(),
                City_Name: $('#CityUpdate').val(),
                District_Name: $('#DistrictUpdate').val(),
                State_Name: $('#StateUpdate').val(),
            };
            $.ajax({
                url: "/Location/UpdateArea",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#modal-Update').modal('hide');
                    $('#hfId').val("");
                    $('#txtAreaUpdate').val("");
                    $('#CityUpdate').val("");
                    $('#DistrictUpdate').val("");
                    $('#StateUpdate').val("");

                    alert(result);
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

        }

        //function for deleting Area's record
        function DeleteArea(ID) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    url: "/Location/DeleteArea/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        alert(result);
                        location.reload();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        //Valdidation using jquery
        function validate() {
            var isValid = true;

            if ($('#State').val().trim() == "") {
                $('#State').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#State').css('border-color', 'lightgrey');
            }
            if ($('#District').val().trim() == "") {
                $('#District').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#District').css('border-color', 'lightgrey');
            }
            if ($('#City').val().trim() == "") {
                $('#City').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#City').css('border-color', 'lightgrey');
            }
            if ($('#Area').val().trim() == "") {
                $('#Area').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#Area').css('border-color', 'lightgrey');
            }
            return isValid;
        }

        function validate1() {
            var isValid = true;

            if ($('#StateUpdate').val().trim() == "") {
                $('#StateUpdate').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#StateUpdate').css('border-color', 'lightgrey');
            }

            if ($('#DistrictUpdate').val().trim() == "") {
                $('#DistrictUpdate').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#DistrictUpdate').css('border-color', 'lightgrey');
            }

            if ($('#CityUpdate').val().trim() == "") {
                $('#CityUpdate').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#CityUpdate').css('border-color', 'lightgrey');
            }

            if ($('#txtAreaUpdate').val().trim() == "") {
                $('#txtAreaUpdate').css('border-color', 'Red', 'border-size:10px');
                isValid = false;
            }
            else {
                $('#txtAreaUpdate').css('border-color', 'lightgrey');
            }
            return isValid;
        }

        //Function for clearing the textboxes
        function clearTextBox() {
            $('#State').val("");
            $('#District').val("");
            $('#City').val("");
            $('#Area').val("");
            $('#State').css('border-color', 'lightgrey');
            $('#District').css('border-color', 'lightgrey');
            $('#City').css('border-color', 'lightgrey');
            $('#Area').css('border-color', 'lightgrey');
        }
    </script>
