@model  IEnumerable<ParkingSystem.Models.PassModel>
@{
    ViewBag.Title = "View Pass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["UserName"] != null || Session["UserID"] != null || Session["Designation"] != null || Session["SiteID"] != null || Session["SiteName"] != null)
{
    <div class="content-wrapper">
        <div id="div1" style="margin-left: 10px; margin-right: 10px;">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a href="#"><i class="active"></i>Setting</a></li>
                    <li><a href="@Url.Action("ViewPass","SettingPass")"><i class="active"></i>View Pass</a></li>
                </ol>
            </section>
            <br />
            @if (Session["Designation"].ToString() == "Manager")
            {
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Add Pass</strong></div>
                                <div class="panel-body">
                                    <div class="row" style="padding: 8px 30px;">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <input type="submit" value="Add Pass" class="btn btn-primary btn-default" TabIndex="13" id="btnAdd1" onclick="location.href='@Url.Action("AddPass", "SettingPass")'" />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6 " style="padding-top: 10px;">
                                            <div class="col-md-4 col-sm-4 col-lg-4">
                                                <div class="form-group">
                                                    <h4 style="font:bold 14px arial,verdana">Site Name</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-lg-6">
                                                <div class="form-group">
                                                    @Html.DropDownList("Site_ID", new SelectList(ViewBag.SitedeptList1 as IEnumerable<ParkingSystem.Models.PassModel>, "Site_ID", "SiteNames"), "Please Select Site", new { @class = "form-control", id = "ddlSite11", onchange = "document.location.href = '/SettingPass/GetPassDetails?SiteID1=' + this.options[this.selectedIndex].value;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>View Pass Details</strong>
                                </div>
                                <div class="panel-body">
                                    <table id="tblPass" class="table table-bordered table-striped font-12" style="width:100%">
                                        <thead></thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pass_ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pass_Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pass_Validity)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Vehicle_Type)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SiteNames)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Amount)
                                            </th>
                                            <th>Edit</th>
                                            <th style="color:red;">Delete</th>
                                        </tr>

                                        @foreach (var item in (ViewBag.PassList as IEnumerable<ParkingSystem.Models.PassModel>))
                                        {
                                            if (item.Status1 == true)
                                            {
                                                <tr style="color:blue;">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Pass_ID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Pass_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Pass_Validity)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Vehicle_Type)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SiteNames)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Edit", "EditPass", new { id = item.Pass_ID })
                                                    </td>
                                                    <td style="color:red;">
                                                        <input type="button" value="Delete" class="btn btn-danger" style="width:80px" TabIndex="14" onclick="location.href='@Url.Action("Delete", "SettingPass", new { id = item.Pass_ID })'" />
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="color:red;">
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Pass_ID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Pass_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Pass_Validity)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Vehicle_Type)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SiteNames)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount)
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-success btn-flat" style="font-weight:bold" id="btnGetByID1" onclick="GetDetails(@item.Pass_ID)"> Edit</button>
                                                    </td>
                                                    <td style="color:red">
                                                        <button type="button" class="btn btn-danger btn-flat" id="btnDelete1" onclick="Delete(@item.Pass_ID)"> Delete</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
}
@* table script *@
<script>
    $(function () {
        $("#tblPass").prepend($("<thead></thead>").append($(this).find("tr:first"))).dataTable({
            "sScrollY": "250",
            "sScrollX": "10%",
            "sScrollXInner": "100%",
            "scrollCollapse": true,
            "paging": true,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true,
            "scrollX": true,
            "font-size": "12px",
        });
    });
</script>
