@model ParkingSystem.Models.PassModel
@{
    ViewBag.Title = "Edit Pass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["UserName"] != null || Session["UserID"] != null || Session["Designation"] != null || Session["SiteID"] != null || Session["SiteName"] != null)
{
    <div class="content-wrapper">
        <div id="div1" runat="server" style="margin-left: 10px; margin-right: 10px;">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a href="@Url.Action("ViewPass","SettingPass")"><i class="active"></i>View Pass</a></li>
                    <li><a href="@Url.Action("EditPass","SettingPass")"><i class="active"></i>Edit Pass</a></li>
                </ol>
            </section>
            <br />
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Pass Setting</strong></div>
                            <div class="panel-body">
                                @using (Html.BeginForm("EditPass", "SettingPass", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.SiteNames, htmlAttributes: new { @class = "control-label" })
                                                    <span style="color: #FF0000">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.SiteNames, new SelectList(ViewBag.SitedeptList, "SiteNames", "SiteNames"), "Please Select Site", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Vehicle_Type, htmlAttributes: new { @class = "control-label" })
                                                    <span style="color: #FF0000">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.Vehicle_Type, new SelectList(ViewBag.VehicleTypeList, "Vehicle_Type", "Vehicle_Type"), "Please Select Vehicle_Type", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Pass_Name, htmlAttributes: new { @class = "control-label" })
                                                    <span style="color: #FF0000">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Pass_Name, new { @class = "form-control", @placeholder = "Enter Pass Name" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Pass_Validity, htmlAttributes: new { @class = "control-label" })
                                                    <span style="color: #FF0000">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.DropDownList("Pass_Validity", new List<SelectListItem>
                                                    {
                                                     new SelectListItem{ Text="Select Pass Validity", Value = "Select Pass Validity",Selected=true},
                                                      new SelectListItem{ Text="Monthly", Value = "Monthly" },
                                                      new SelectListItem{ Text="Quarterly", Value = "Quarterly" },
                                                      new SelectListItem{ Text="Yearly", Value = "Yearly" },
                                                     },
                                                  new { @class = "form-control", ViewBag.Pass_Validity, @id = "ddlvalidity" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
                                                    <span style="color: #FF0000">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @placeholder = "Enter Pass Amount" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6" style="font-size: 12px;">
                                            Note: <span style='color:#FF0000;font-size:12px'>*</span> indicate required field.
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <center>
                                                <input type="submit" value="Update" class="btn btn-primary btn-flat" TabIndex="13" id="Update" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="button" value="Cancel" class="btn btn-danger btn-flat" TabIndex="14" id="Cancel1" onclick="location.href='@Url.Action("Clear", "SettingPass")'" />
                                            </center>
                                            <br />
                                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10" style="color:green">
                                            @if (ViewBag.Message != null)
                                            {
                                                <text>
                                                    <script>
                                                            $(document).ready(function () {
                                                                alert('@ViewBag.Message');
                                                            });
                                                    </script>
                                                </text>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>
}



