@model ParkingSystem.Models.DistributionModel
@{
    ViewBag.Title = "Distribution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["UserName"] != null || Session["UserID"] != null || Session["Designation"] != null || Session["SiteID"] != null || Session["SiteName"] != null)
{
    <div class="content-wrapper">
        <div id="div1" runat="server" style="margin-left: 10px; margin-right: 10px;">
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a href="@Url.Action("ViewInventory", "Inventory")"><i class="active"></i>Device Inventory</a></li>
                    <li><a href="@Url.Action("Distribution", "Inventory")"><i class="active"></i>Distribution</a></li>
                </ol>
            </section>
            <br />
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Distribution Details</strong></div>
                            <div class="panel-body">
                                @using (Html.BeginForm("Distribution", "Inventory", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.InventoryName, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.InventoryName, new { @class = "form-control", @placeholder = "Enter Inventory Product Name", @readonly = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ModelName, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.ModelName, new { @class = "form-control", @placeholder = "Enter Product Model Name", @readonly = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5 style="font:bold 12px arial,verdana">Inventory Quantity</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @placeholder = "Quantity", @readonly = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Companyname, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Companyname, new { @class = "form-control", @placeholder = "Enter Product Company Name", @readonly = "true" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Instock, htmlAttributes: new { @class = "control-label" })
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Instock, new { @class = "form-control", @placeholder = "Enter Product Instock", @readonly = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.SiteName, htmlAttributes: new { @class = "control-label" })
                                                    <span style="color: #FF0000">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.SiteName, new SelectList(ViewBag.SitedeptList, "SiteName", "SiteName"), "Please Select Site", new { @class = "form-control" })
                                                    @Html.HiddenFor(model => model.SiteName, new { @id = "hdnSiteId" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                 
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DistriQuanty, htmlAttributes: new { @class = "control-label" })
                                                    <span style="color: #FF0000">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.DistriQuanty, new { @class = "form-control", @placeholder = "Enter Product Quantity", @type = "number", @min = "1", @max = "100" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6" style="font-size: 12px;">
                                            Note: <span style='color:#FF0000;font-size:12px'>*</span> indicate required field.
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <center>
                                                <input type="submit" value="Distribute" class="btn btn-primary btn-flat" TabIndex="13" id="Update" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="button" value="Cancel" class="btn btn-danger btn-flat" TabIndex="14" onclick="location.href='@Url.Action("ClearDistribute", "Inventory")'" />
                                            </center>
                                            <br />
                                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10" style="color:green">
                                            @if (ViewBag.Message != null)
                                            {
                                                <text>
                                                    <script>
                                                        $(document).ready(function () {
                                                            alert('@ViewBag.Message');
                                                        });
                                                    </script>
                                                </text>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Distributed Details</strong></div>
                            <div class="panel-body">
                                <table id="tblDistributeInventory" class="table table-bordered table-striped font-12" style="width:100%">
                                    <thead></thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Distribution_ID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SiteName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DistriQuanty)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InventoryName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ModelName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Companyname)
                                        </th>
                                        <th>
                                            Delete
                                        </th>
                                    </tr>
                                    @foreach (var item1 in (ViewBag.DistributetList as IEnumerable<ParkingSystem.Models.DistributionModel>))
                                    {
                                <tr>
                                    <td>
                                        @item1.Distribution_ID
                                    </td>
                                    <td>
                                        @item1.SiteName
                                    </td>
                                    <td>
                                        @item1.DistriQuanty
                                    </td>
                                    <td>
                                        @item1.InventoryName
                                    </td>
                                    <td>
                                        @item1.ModelName
                                    </td>
                                    <td>
                                        @item1.Companyname
                                    </td>
                                    <td style="color:red;">
                                        <input type="button" value="Delete" class="btn btn-danger" style="width:80px" TabIndex="14" onclick="location.href='@Url.Action("Delete", "Inventory", new { id = @item1.Distribution_ID,sitename=@item1.SiteName,invt=@item1.InventoryName,distq= @item1.DistriQuanty})'" />
                                    </td>
                                </tr>
                                    }
                                </table>
                                <h4 style="color:blue">Total Quantity of Distribution(OnField):@Html.Label((string)ViewBag.TotalInventory)</h4>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>
}
<!-- table script -->
<script>
    $(function () {
        $("#tblDistributeInventory").prepend($("<thead></thead>").append($(this).find("tr:first"))).dataTable({
            "sScrollY": "250",
            "sScrollX": "10%",
            "sScrollXInner": "100%",
            "scrollCollapse": true,
            "paging": true,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true,
            "scrollX": true
        });
    });
</script>


