@model ParkingSystem.Models.SiteModel
@{
    ViewBag.Title = "AddSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        //$("#Start_Date").datepicker();
        $("#StartDate").datepicker();
        ({
            showOn: 'button',
            buttonImageOnly: true,
            autoclose: true,
            buttonImage: 'http://jqueryui.com/demos/datepicker/images/calendar.gif'
        });
    });
</script>
@if (Session["UserName"] != null || Session["UserID"] != null || Session["Designation"] != null || Session["SiteID"] != null || Session["SiteName"] != null)
{
    if (Session["Designation"].ToString() == "Admin")
    {
        <div class="content-wrapper">
            <div id="div1" runat="server" style="margin-left: 10px; margin-right: 10px;">
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li><a href="@Url.Action("ViewSite", "Site")"><i class="active"></i>Site Management</a></li>
                        <li><a href="@Url.Action("AddSite", "Site")"><i class="active"></i>Add Site</a></li>
                    </ol>
                </section>
                <br />
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Site Details</strong></div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("AddSite", "Site", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Site_Name, htmlAttributes: new { @class = "control-label" })
                                                        <span style="color: #FF0000">*</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        @Html.TextBoxFor(model => model.Site_Name, new { @class = "form-control", @placeholder = "Enter Site Name" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.SiteContactNumber, htmlAttributes: new { @class = "control-label" })
                                                        <span style="color: #FF0000">*</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        @Html.TextBoxFor(model => model.SiteContactNumber, new { @class = "form-control", @placeholder = "Enter Site Contact Number", @maxlength = "10" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Site Description" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                                                        <span style="color: #FF0000">*</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Site Address" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                                        <span style="color: #FF0000">*</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <div class="input-group date">
                                                            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @placeholder = "Enter Site Start Date" })
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Site_Type, htmlAttributes: new { @class = "control-label" })
                                                        <span style="color: #FF0000">*</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        @Html.DropDownList("Site_Type", new List<SelectListItem>
                                                            {
                                                             new SelectListItem{ Text="Select Site Type", Value = "Select Site Type",Selected=true},
                                                              new SelectListItem{ Text="ProRate", Value = "ProRate"},
                                                              new SelectListItem{ Text="FlatRate", Value = "FlatRate" },
                                                             },
                                                         new { @class = "form-control", ViewBag.Site_Type })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.GSTNumber, htmlAttributes: new { @class = "control-label" })
                                                        <span style="color: #FF0000">*</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        @Html.TextBoxFor(model => model.GSTNumber, new { @class = "form-control", @placeholder = "Enter GST Number" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                            </div>

                                            <br />
                                            <div class="row">
                                                <div class="col-md-6" style="font-size: 12px;">
                                                    Note: <span style='color:#FF0000;font-size:12px'>*</span> indicate required fields.
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <center>
                                                        <input type="submit" value="Save" class="btn btn-primary btn-flat sweet-2" TabIndex="13" id="btnSave" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <input type="button" value="Cancel" class="btn btn-danger btn-flat" TabIndex="14" onclick="location.href='@Url.Action("Clear", "Site")'" />
                                                    </center>
                                                    <br />
                                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-offset-2" style="color:green">
                                                        @if (ViewBag.Message != null)
                                                        {
                                                            <text>
                                                                <script>
                                                            $(document).ready(function () {
                                                                alert('@ViewBag.Message');
                                                        });
                                                                </script>
                                                            </text>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                        </div>
                                    </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>        

    }
}

