@model ParkingSystem.Models.ForgetPsswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../../Images/M_Plus_Parking_SystemLogo.jpg" rel="shortcut icon" type="Images/M_Plus_Parking_SystemLogo.jpg" />
    <title>Parking System | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- Bootstrap 3.3.6 -->
    <link href="~/AdminLTE-2.3.3/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Theme style -->
    <link href="~/AdminLTE-2.3.3/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/AdminLTE-2.3.3/plugins/iCheck/square/blue.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page"> 
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-logo">
            <img src="~/Images/M_Plus_Blue_Logo.png" class="login-logo img-login" alt="Logo" style="width: 84%" />
        </div>
        <div class="login-box-body">

            <p class="login-box-msg" style="font-size:16px">Forgot Password</p>

            @using (Html.BeginForm("ForgetPassword", "UserLogin", FormMethod.Post, new { @class = "form-box", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control font-13", @placeholder = "Enter User Email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <input type="submit" value="Confirm" class="btn btn-primary btn-block btn-flat" />
                    </div>
                    <div class="col-xs-4">
                        <input type="button" value="Cancel" class="btn btn-primary btn-block btn-flat" TabIndex="14" onclick="location.href='@Url.Action("Clear", "UserLogIn")'" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="color:green">
                            @if (ViewBag.Message != null)
                            {
                                <text>
                                    <script>
                                                        $(document).ready(function () {
                                                            alert('@ViewBag.Message');
                                                        });
                                    </script>
                                </text>
                            }
                        </div>
                    </div>
                </div>
                <br />
                <div class="footer mt-5">
                    <div class="text text-center">
                        <P>Copyright &copy; 2022 &nbsp; <a href="#">M_Plus_Parking Services</a>.</P> All rights reserved.
                    </div>
                </div>
            }

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <!-- /.login-box -->
    <!-- jQuery 2.2.0 -->
    <script src="AdminLTE-2.3.3/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="AdminLTE-2.3.3/bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="AdminLTE-2.3.3/plugins/iCheck/icheck.min.js"></script>
</body>
</html>
